.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pper
*.pper
.Rproj.user/91AAD348/sdb/prop/INDEX
*.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/91AAD348/sdb/prop/INDEX
*.pper
inst/doc
.Rhistory
.Rhistory
.Rhistory
.Rhistory
